go 1.20

use (
	.
	./components/bifrost
	./components/bifrost/deploy/charts
	./components/echo-server
	./components/heimdall
	./components/heimdall/deploy/charts
	./experimental/java
	./experimental/mobile
	./pkg/proxywasm/testdata/filters
	components/kafka-protocol-go/pkg
	components/kafka-protocol-go
)
